{% include 'base.html' %}
{% block reporte_grupo  %} 
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Reportes de grupos sociales</h4>
            <p class="card-description">Ingrese el reporte del grupo</p>
            <form class="forms-sample" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-3">
                  <label>Eje de trabajo:</label>
                  {{reporteg.eje_trabajo}}
                </div>
                <div class="col-md-3">
                  <label>Nombre del grupo:</label>
                  {{reporteg.grupo}}
                </div>
                <div class="col-md-3">
                  <label>Nombre del proyecto:</label>
                  {{reporteg.nombre_proyecto}}
                </div>
                <div class="form-group col-md-3">
                  <label>Presupuesto:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-gradient-primary text-white">Q</span>
                    </div>
                    {{reporteg.presupuesto}}
                  </div>
              </div>
              <br>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <label>Descripción:</label>
                  {{reporteg.descripcion}}
                </div>
  
                <div class="col-md-6">
                  <label>Resultados:</label>
                  {{reporteg.resultado}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <label>No. Beneficiados:</label>
                  {{reporteg.beneficiados}}
                </div>

                <div class="col-md-3">
                  <label>Fecha de inicio: </label>
                  {{reporteg.fecha_inicio}}
                </div>
                <div class="col-md-3">
                  <label>Fecha de Finalizacion:</label>
                  {{reporteg.fecha_finalizacion}}
                </div>
                <div class="col-md-3">
                  <label>Responsable:</label>
                  {{reporteg.user}}
                </div>
              </div>
              <br>
              <button class="btn btn-light">Cancel</button>
              <button type="submit" class="btn btn-gradient-primary mr-2">Guardar</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Estado de reportes</h4>
            <p class="card-description">Ingrese el reporte del grupo</p>
            <div class="table-responsive">
              <table class="table">
              <thead>
                <tr>
                  <th>No. </th>
                  <th>CUI</th>
                  <th>Nombre</th>
                  <th>Sexo</th>
                  <th>Correo Electronico</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                  {% for integrante in integrantes %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ integrante.persona.cui }}</td>
                  <td>{{ integrante.persona.primer_nombre }} {{ integrante.persona__primer_apellido }}</td>
                  <td>{{ integrante.persona.get_sexo_display }}</td>
                  <td>{{ integrante.persona.correo_electronico}}</td>
                  <td>
                      <button type="button" id="asignacion-update" class="bs-modal btn btn-sm btn-warning btn-rounded" data-form-url="{% url 'pergrup_update' integrante.id %}">
                          <span class="fa fa-trash">Editar</span>
                      </button>
                        <a type="button" class="btn btn-sm btn-danger btn-rounded " href="#" onclick="eliminar_asignacion({{integrante.id}}, {{grupo.id}})">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
{% endblock reporte_grupo %}