{% include 'base.html' %}
{% block reporte_grupo  %}
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h4>Generar reporte de: </h4>
            <h1>GRUPOS SOCIALES</h1>
          </div>
        </div>
      </div>
    </div>
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Reportes de grupos sociales</h4>
            <p class="card-description">Ingrese el reporte del grupo</p>
            <form class="forms-sample" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <label>Eje de trabajo:</label>
                  {{reporteg.eje_trabajo}}
                </div>
                <div class="col-md-6">
                  <label>Nombre del grupo:</label>
                {{reporteg.grupo}}
                </div>
                <br>
                <div class="col-md-6">
                  <label>Nombre del proyecto:</label>
                  {{reporteg.nombre_proyecto}}
                </div>
                <div class="form-group col-md-6">
                  <label>Presupuesto:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-gradient-primary text-white">Q</span>
                    </div>
                    {{reporteg.presupuesto}}
                  </div>
              </div>
              <br>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <label>Descripción:</label>
                  {{reporteg.descripcion}}
                </div>

                <div class="col-md-6">
                  <label>Resultados:</label>
                  {{reporteg.resultado}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label>No. Beneficiados:</label>
                  {{reporteg.beneficiados}}
                </div>

                <div class="col-md-4">
                  <label>Fecha de inicio: </label>
                  {{reporteg.fecha_inicio}}
                </div>
                <div class="col-md-4">
                  <label>Fecha de Finalizacion:</label>
                  {{reporteg.fecha_finalizacion}}
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-gradient-info mr-2 btn-rounded">Generar Reporte</button>
            </form>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Estado de mis reportes</h4>
            <p class="card-description">Ingrese el reporte del grupo</p>
            <div class="table-responsive">
              <table class="table">
              <thead>
                <tr>
                  <th>No. </th>
                  <th>Eje de Trabajo</th>
                  <th>Grupo</th>
                  <th>Proyecto</th>
                  <th>Beneficiados</th>
                  <th>Presupuesto</th>
                  <th>Inicio</th>
                  <th>Finalizacion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                  {% for reporte in mis_reportes %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ reporte.eje_trabajo }}</td>
                  <td>{{ reporte.grupo }} </td>
                  <td>{{ reporte.nombre_proyecto }}</td>
                  <td>{{ reporte.beneficiados}}</td>
                  <td>Q.{{ reporte.presupuesto}}</td>
                  <td>{{ reporte.fecha_inicio}}</td>
                  <td>{{ reporte.fecha_finalizacion}}</td>
                  <td>
                      <button type="button" id="asignacion-update" class="bs-modal btn btn-sm btn-warning btn-rounded" data-form-url="{% url 'reporte_grupo_update' reporte.id %}">
                          <span class="fa fa-trash">Editar</span>
                      </button>
                      <a type="button" class="btn btn-sm btn-danger btn-rounded" href="#" onclick="eliminar_reporte({{reporte.id}})">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
<!--Paginacion-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {% if mis_reportes.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ movies.previous_page_number }}">Anterior</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                  </li>
                {% endif %}
                {% for i in mis_reportes.paginator.page_range %}
                  {% if mis_reportes.number == i %}
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">
                        {{ i }}
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if mis_reprotes.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ movies.next_page_number }}">Siguiente</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
<!--Paginacion-->
        </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>

        <script type="text/javascript">
          $(function () {
            $(".bs-modal").each(function () {
              $(this).modalForm({
                formURL: $(this).data('form-url')
              });
            });
          });
        </script>

    </div>
  </div>
</div>
</div>

<script>
$(document).ready(function() {
  $("#hola").select2();
});
    function eliminar_reporte(id){
      Swal.fire({
        title: 'Desea eliminar el reporte?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Eliminar'
      })
      .then((result) => {
        if (result.isConfirmed) {
          window.location.href ="/reportegrupos/delete/"+id
          Swal.fire(
            'Se ha eliminado el reporte correctamente!',
          )
        }
      })
    }
  </script>
{% endblock reporte_grupo %}