{% include 'base.html' %}
{% block grupos  %} 
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Asignacion de grupos</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item" aria-current="page">Agregar Grupos</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Formulario</h4>
            <p class="card-description">Apertura de grupos</p>
            <form class="forms-sample" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <label>Modalidad:</label>
                {{form.modalidad}}
                </div>
                <div class="col-md-6">
                  <label>Nombre:</label>
                {{form.nombre}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <label>Fecha inicio:</label>
                  {{form.fecha_inicio}}
                </div>
                <div class="col-md-6">
                  <label>Fecha Finalizacion:</label>
                {{form.fecha_finalizacion}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <label>Fecha inicio:</label>
                  {{form.hora_inicio}}
                </div>
                <div class="col-md-3">
                  <label>Fecha Finalizacion:</label>
                {{form.hora_final}}
                </div>
                <div class="col-md-3">
                  <label>De:</label>
                {{form.de}}
                </div>
                <div class="col-md-3">
                  <label>A:</label>
                  {{form.a}}
                </div>
              </div>
              <br>
              <a type="button" class="btn btn-light" href="{% url 'grupo_list' %}">Cancelar</a>
              <button type="submit" class="btn btn-gradient-primary mr-2">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock grupos %}