{% include 'base.html' %}
{% block gruposlist  %} 
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Listado de servicios</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'grupo_list' %}">Listado de servicios</a></li>
        </ol>
      </nav>
      <!--Listar directiva-->
      {% include 'grupos/modal_list.html'%}
  
    </div>
    <!-- Modal / Ventana / Overlay en HTML -->
    
    <div class="col-lg-12  col-sm-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Servicios</h4>
          <p class="card-description">Listado de servicios</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>No. </th>
                <th>Tipo Servicio</th>
                <th>Nombre</th>
                <th>Inscritos</th>
                <th>Dias</th>
                <th>Horario</th>
                <th>Integrantes</th>
              </tr>
            </thead>
            <tbody>
              {% for curso in curso_list %}
              <tr>
                <td>{{curso.id}}</td>
                <td>{{curso.get_modalidad_display}}</td>
                <td>{{curso.nombre}}</td>
                <td>{{curso.count_integrantes}}</td>
                <td>
                  De: <label class="badge badge-danger">{{curso.get_de_display}} </label> a: <label class="badge badge-danger">{{curso.get_a_display}}</label></td>
                <td> De: <label class="text-success">{{curso.hora_inicio}}</label> a: <label class="text-success"> {{curso.hora_final}}</label></td>
                <td><a href="#victorModal" role="button" class="btn btn-sm btn-primary" data-toggle="modal">Listado</a></td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock gruposlist %}