Django==2.2.9
django-bootstrap-modal-forms==2.0.1
django-excel==0.0.10
django-widget-tweaks==1.4.8
lml==0.1.0
mysqlclient==2.0.2
Pillow==8.0.1
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pytz==2020.4
sqlparse==0.4.1
texttable==1.6.3
et-xmlfile==1.0.1
jdcal==1.4.1
openpyxl==3.0.6
pyexcel-xlsx==0.6.0
pyexcel-xlsxw==0.6.1
texttable==1.6.3
XlsxWriter==1.3.7
gunicorn
