{% include 'base.html' %}
{% block session %}
{% load staticfiles %}
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-3 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo" >
            <center style="margin:10px auto; display:block;"><img src="{% static 'images/logom.png' %}"></center>
            </div>
            <h4 class="texto_centrado">Sistema Dirección Municipal de la Mujer</h4>
            <h6 class="font-weight-light texto_centrado">Iniciar sesión</h6>
            <form method="post" action="{% url 'login' %}" class="pt-3">
                {% csrf_token %}
                  <div class="form-group">
                    <label>Usuario:</label>
                    <input class="form-control form-control-lg" {{ form.username }}
                    </div>
                  <div class="form-group">
                    <label>Contraseña:</label>
                    <input class="form-control form-control-lg" {{ form.password }}
                  </div>
                <div class="mt-3">
                  <input class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit"></a>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock session %}