{% include 'base.html' %}
{% block gruposlist  %} 
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Directiva</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'grupo_list' %}">Listado de grupos</a></li>
        </ol>
      </nav>
    </div>
    <!-- Modal / Ventana / Overlay en HTML -->
    
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Grupos Asignados</h4>
          <p class="card-description">Listado de grupos</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre del grupo</th>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Direccion</th>
              </tr>
            </thead>
            <tbody>
              {% for datos in datos  %}
              {% if datos.puesto > 0 %}
              <td>{{datos.grupo}}</td>
              <td><label class="badge badge-gradient-success">{{datos.get_puesto_display}}</td>
              <td>{{datos.persona}}</td>
              <td>{{datos.tel_persona}}</td>
              <td>{{datos.dir_persona}}</td>
              {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <a type="button" class="btn btn-sm btn-gradient-info btn-rounded btn-fw" href="{% url 'grupo_list' %}">Regresar</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock gruposlist %}