{% include 'base.html' %}
{% block gruposlist  %} 
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">

    <!-- Modal / Ventana / Overlay en HTML -->
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h1 class="mb-5">Directiva</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
    
    <div class="col-lg-12 grid-margin stretch-card">        
      <div class="card">
        <div class="card-body">
          <span class="d-flex align-items-center purchase-popup">
            <h4 class="card-title">Listado de directiva</h4>
            <a class="btn btn-gradient-success btn-rounded ml-auto" href="{% url 'grupo_directiva_excel' id=grupo.id %}"> <i class="mdi mdi-file-excel-box" style="color: white;"></i> Exportar exel</a>
          </span>
          <div class="table-responsive">
            <table class="table">
            <thead>
              <tr>
                <th>Nombre del grupo</th>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Direccion</th>
              </tr>
            </thead>
            <tbody>
              {% for datos in datos  %}
              {% if datos.puesto > 0 %}
              <td>{{datos.grupo}}</td>
              <td><label class="badge badge-gradient-success">{{datos.get_puesto_display}}</td>
              <td>{{datos.persona}}</td>
              <td>{{datos.tel_persona}}</td>
              <td>{{datos.dir_persona}}</td>
              {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          <br>
          <a type="button" class="btn btn-sm btn-gradient-info btn-rounded btn-fw" href="{% url 'grupo_list' %}">Regresar</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock gruposlist %}