{% include 'base.html' %}
{% block gruposlist  %} 
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
    </div>
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h4>Asignacion de grupos sociales:</h4>
            <h1>Grupos Sociales</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <span class="d-flex align-items-center purchase-popup">
            <h4 class="card-title">Listado de grupos existentes</h4>
              <a class="btn btn-gradient-info btn-rounded ml-auto" data-toggle="modal" data-target="#modalgrupo">Agregar Grupos</a>
          </span>
          <div class="table-responsive">
            <table class="table">
            <thead>
              <tr>
                <th>No. </th>
                <th>Nombre del grupo</th>
                <th>No. integrantes</th>
                <th>Directiva</th>
                <th>Listado integrantes</th>
                <th>Acciones</th>

              </tr>
            </thead>
            <tbody>
              {% for grupo in grupos %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{grupo.nombre_grupo }}</td>
                <td>{{grupo.num_integrantes}}</td> 
                <td><a type="button" class="btn btn-sm btn-info btn-rounded" href="/grupos/directiva/{{ grupo.id }}" >Directiva</a></td>
                <td><a type="button" class="btn btn-sm btn-success btn-rounded" href="{% url 'pergrup_add' id=grupo.id %}">Integrantes</a></td> 
                <td>
                  <button type="button" id="user-delete" class="bs-modal btn btn-sm btn-warning btn-rounded" data-form-url="{% url 'grupo_update' grupo.id %}"><span class="fa fa-trash">Editar</span></button>
                  <a type="button" class="btn btn-sm btn-danger btn-rounded" href="#" onclick="eliminar_grupo({{grupo.id}})">Eliminar</a>
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
          </div>
          <div class="modal fade" tabindex="-1" role="dialog" id="modal">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modalgrupo"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Agregar grupo</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'grupo_add' %}" class="pt-3">
          {% csrf_token %}
          <h4 class="card-title">Identificador de grupo</h4>
          <div class="row">
            <div class="col-md-12">
              <label> Nombre del grupo</label>
              {{form.nombre_grupo}}
            </div>
          </div>
          <br>
          <h4 class="card-title">Datos de ubicacion</h4>
          <p class="card-description">Ubicacion de los grupos</p>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label>Departamento</label>
              {{form.departamento}}
            </div>
            <div class="col-md-4">
              <label>Municipio</label>
              {{form.municipio}}
            </div>
            <div class="col-md-4">
              <label>Identificador</label>
              {{form.identificador}}
            </div>
          </div>
            <!-- Dejamos el espacio para la funcion en js-->
          <!-- Area urbana-->
          <br>
          <div class="row">
            <div class="col-md-3">
              <label>Zona</label>
              {{form.zona}}
            </div>

            <div class="col-md-3">
              <label>Canton</label>
              {{form.canton}}
            </div>

            <div class="col-md-3">
              <label>Sector</label>
              {{form.sector}}
            </div>

            <div class="col-md-3">
              <label>Canton</label>
              {{form.canton}}
            </div>

          </div>
          <br>
          <!--Este es el espacio para area rural-->
          <div class="row">
            <div class="col-md-4">
              <label>Aldea</label>
              {{form.aldeas}}
            </div>
            <div class="col-md-4">
              <label>Caserio</label>
              {{form.caserio}}
            </div>
            <div class="col-md-4">
              <label>Canton / Paraje </label>
              {{form.paraje}}
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-info btn-rounded">Agregar</button>
        </form>
      </div>
    </div>
</div>


{% block js %}
<script>
  function eliminar_grupo(id){
    console.log(id)
    Swal.fire({
      title: 'Desea eliminar el grupo?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: 'Eliminar'
    })
    .then((result) => {
      if (result.isConfirmed) {
        window.location.href ="/grupos-delete/"+id
        Swal.fire({
          title: 'Grupo eliminado correctamente',
          icon: 'success',
        }
        )
      }
    })
  }

  $(function () {
                $(".bs-modal").each(function () {
                  $(this).modalForm({
                    formURL: $(this).data('form-url')
                  });
                });
              });

</script>
  
{% endblock %}
{% endblock gruposlist %}