{% include 'base.html' %}
{% block grupos  %} 
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Creacion de grupos</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
          <li class="breadcrumb-item" aria-current="page">Crear grupos</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form class="forms-sample" method="POST">
              {% csrf_token %}
              <h4 class="card-title">Identificador de grupo</h4>
              <div class="row">
                <div class="col-md-12">
                  <label> Nombre del grupo</label>
                  {{form.nombre_grupo}}
                </div>
              </div>
              <br>
              <h4 class="card-title">Datos de ubicacion</h4>
              <p class="card-description">Ubicacion de los grupos</p>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label>Departamento</label>
                  {{form.departamento}}
                </div>
                <div class="col-md-4">
                  <label>Municipio</label>
                  {{form.municipio}}
                </div>
                <div class="col-md-4">
                  <label>Identificador</label>
                  {{form.identificador}}
                </div>
              </div>
                <!-- Dejamos el espacio para la funcion en js-->
              <!-- Area urbana-->
              <br>
              <div class="row">
                <div class="col-md-3">
                  <label>Zona</label>
                  {{form.zona}}
                </div>

                <div class="col-md-3">
                  <label>Canton</label>
                  {{form.canton}}
                </div>

                <div class="col-md-3">
                  <label>Sector</label>
                  {{form.sector}}
                </div>

                <div class="col-md-3">
                  <label>Canton</label>
                  {{form.canton}}
                </div>

              </div>
              <br>
              <!--Este es el espacio para area rural-->
              <div class="row">
                <div class="col-md-4">
                  <label>Aldea</label>
                  {{form.aldeas}}
                </div>
                <div class="col-md-4">
                  <label>Caserio</label>
                  {{form.caserio}}
                </div>
                <div class="col-md-4">
                  <label>Canton / Paraje </label>
                  {{form.paraje}}
                </div>
              </div>
              <br>
              <button class="btn btn-light">Cancel</button>
              <button type="submit" class="btn btn-gradient-primary mr-2">Guardar grupo</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock grupos %}