{% include 'base.html' %}
{% block gruposlist  %}
{% load staticfiles %}
{% include 'navbar.html' %}
<style>
    .modale-content {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #f2edf3;
      background-clip: padding-box;
      border: 1px solid #ebedf2;
      border-radius: 0.3rem;
      outline: 0;
    }
</style>
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h4>Asignacion de grupos sociales:</h4>
            <h1>Grupos Sociales</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
      <div class="card">
        <div class="card-body">
          <span class="d-flex align-items-center purchase-popup">
            <h4 class="card-title">Listado de grupos existentes</h4>
              <a class="btn btn-gradient-info btn-rounded ml-auto" data-toggle="modal" data-target="#modalgrupo">Agregar Grupos</a>
          </span>
          <div class="table-responsive">
            <table class="table">
            <thead>
              <tr>
                <th>No. </th>
                <th>Nombre del grupo</th>
                <th>Ubicacion</th>
                <th>No. integrantes</th>
                <th>Directiva</th>
                <th>Listado integrantes</th>
                <th>Acciones</th>

              </tr>
            </thead>
            <tbody>
              {% for grupo in grupos %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{grupo.nombre_grupo }}</td>
                <!-- Agrar funcionalidad-->

                {% if grupo.identificador == 1 %}
                <td>Area Rural: {{ grupo.get_aldeas_display|default_if_none:'' }} {{ grupo.get_caserio_display|default_if_none:'' }} {{ grupo.get_paraje_display|default_if_none:'' }}</td>
                {% elif grupo.identificador  == 2 %}
                <td>Area urbana: {{ grupo.get_zona_display|default_if_none:'' }}  {{ grupo.get_canton_display|default_if_none:'' }} {{ grupo.get_sector_display|default_if_none:'' }} </td>
                {% else %}
                <td>Llano Grande: {{ grupo.direccion_alternativa }}</td>
                {%endif%}

                {% if grupo.num_integrantes == 0 %}
                    <td><label class="badge badge-info btn-rounded">Aun no existen integrantes</label></td>
                {%else%}
                    <td>{{grupo.num_integrantes}}</td>
                {% endif %}
                <td><a type="button" class="btn btn-sm btn-info btn-rounded" href="/grupos/directiva/{{ grupo.id }}" >Directiva</a></td>
                <td><a type="button" class="btn btn-sm btn-success btn-rounded" href="{% url 'pergrup_add' id=grupo.id %}">Integrantes</a></td>
                <td>
                  <button type="button" id="grupo-update" class="bs-modal btn btn-sm btn-warning btn-rounded" data-form-url="{% url 'grupo_update' grupo.id %}"><span class="fa fa-trash">Editar</span></button>
                  <a type="button" class="btn btn-sm btn-danger btn-rounded" href="#" onclick="eliminar_grupo({{grupo.id}})">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
          <!--Pagination-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if grupos.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ movies.previous_page_number }}">Anterior</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
          </li>
        {% endif %}
        {% for i in grupos.paginator.page_range %}
          {% if grupos.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if grupos.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ movies.next_page_number }}">Siguiente</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
</div>

<div class="modal fade" id="modalgrupo"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md-12" role="document">
    <div class="modale-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
                  <h3 class="modal-title" id="exampleModalLabel">Agregar grupo</h3>
        <form method="POST" action="{% url 'grupo_add' %}" class="pt-3">
          {% csrf_token %}
          <h4 class="card-title">Identificador de grupo</h4>
          <div class="row">
            <div class="col-md-12">
              <label> Nombre del grupo</label>
              {{formularioGrupo.nombre_grupo}}
            </div>
          </div>
          <br>
          <h4 class="card-title">Datos de ubicacion</h4>
          <p class="card-description">Ubicacion de los grupos</p>
          <br>
          <div class="row">
            <div class="col-md-12">
              <label>Departamento</label>
              {{formularioGrupo.departamento}}
            </div>
            <div class="col-md-12">
              <label>Municipio</label>
              {{formularioGrupo.municipio}}
            </div>
            <br>
            <div class="col-md-12">
              <label>Identificador</label>
              {{formularioGrupo.identificador}}
            </div>
          </div>
          <br>
          <div class="row" id="area_urbana">
            <div class="col-md-12">
              <label>Zona</label>
              {{formularioGrupo.zona}}
            </div>

            <div class="col-md-12">
              <label>Canton</label>
              {{formularioGrupo.canton}}
            </div>

            <div class="col-md-12">
              <label>Sector / Caserio</label>
              {{formularioGrupo.sector}}
            </div>
          </div>
          <br>
          <!--Este es el espacio para area rural-->
          <div class="row" id="area_rural">
            <div class="col-md-12">
              <label>Aldea</label>
              {{formularioGrupo.aldeas}}
            </div>
            <div class="col-md-12">
              <label>Caserio</label>
              {{formularioGrupo.caserio}}
            </div>
            <div class="col-md-12">
              <label>Canton / Paraje </label>
              {{formularioGrupo.paraje}}
            </div>
          </div>
          <div class="row" id="llanogrande">
            <div class="col-md-12">
              <label>Dirreccion Alternativa </label>
              {{formularioGrupo.direccion_alternativa}}
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-info btn-rounded">Agregar</button>
        </form>
      </div>
    </div>
</div>

{% block js %}
<script>
  function eliminar_grupo(id){
    console.log(id)
    Swal.fire({
      title: 'Desea eliminar el grupo?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: 'Eliminar'
    })
    .then((result) => {
      if (result.isConfirmed) {
        window.location.href ="/grupos-delete/"+id
        Swal.fire({
          title: 'Grupo eliminado correctamente',
          icon: 'success',
        }
        )
      }
    })
  }

  $(function () {
    $(".bs-modal").each(function () {
      $(this).modalForm({
          formURL: $(this).data('form-url')
      });
    });
  });

    $('#area_urbana').hide();
    $('#area_rural').hide();
    $('#llanogrande').hide();
    function myFunction (value) {
    if(value == 2) {
        $('#area_urbana').show(500);
        $('#area_rural').hide();
        $('#llanogrande').hide();
    }else if(value == 1) {
        $('#area_rural').show(500);
        $('#area_urbana').hide();
        $('#llanogrande').hide();
    }
    else if(value == 0) {
    $('#area_rural').hide();
    $('#area_urbana').hide();
    $('#llanogrande').hide();
    }
    else if(value == 3) {
    $('#llanogrande').show(500);
    $('#area_rural').hide();
    $('#area_urbana').hide();
    }
    console.log(value);
    }

$(document).ready(function() {
    $("#buscar_paraje").select2();
});
</script>

{% endblock %}
{% endblock gruposlist %}