<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DMM</title>
    {% load staticfiles %}
    <!--Necesario incluir jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container-scroller">

      {% block content %}

      {% endblock content %}
    </div>
    <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
      <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
      <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
      <script src="{% static 'js/off-canvas.js' %}"></script>
      <script src="{% static 'js/hoverable-collapse.js' %}"></script>
      <script src="{% static 'js/misc.js' %}"></script>
      <script src="{% static 'js/dashboard.js' %}"></script>
      <script src="{% static 'js/todolist.js' %}"></script>
  </body>
</html>