{% block content %}
{% load staticfiles %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <span>Inicio</span>
          <i class="mdi mdi-home menu-icon"style="color: #6c757d;"></i>
        </a>
      </li>
      {% if user.rol == 0 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_list' %}">
          <span>Usuarios</span>
          <i class="mdi mdi mdi-account-convert menu-icon"style="color: #6c757d;"></i>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'personas_list' %}">
          <span>Control de Integrantes</span>
          <i class="mdi mdi mdi-account-search menu-icon" style="color: #6c757d;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'alfabetizacion_list' %}">
          <span>Alfabetizacion</span>
          <i class="mdi mdi-book-open-page-variant menu-icon" style="color: #6c757d;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'grupo_list' %}">
          <span>Grupos Sociales</span>
          <i class="mdi mdi-account-multiple-outline menu-icon" style="color: #6c757d;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'servicio_list' %}">
          <span>Servicios</span>
          <i class="mdi mdi-library-books menu-icon"style="color: #6c757d;"></i>
        </a>
      </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#reportes" aria-expanded="false" aria-controls="general-pages">
          <span>Reportes</span>
          <i class="menu-arrow"></i>
          <i class="mdimdi-stack-overflow menu-icon"></i>
        </a>
        <div class="collapse" id="reportes">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" style="color: #6c757d;" href="{% url 'reporte_grupo' %}">Crear reporte de grupos</a></li>
            <li class="nav-item"> <a class="nav-link" style="color: #6c757d;" href="{% url 'reporte_servicio' %}">Crear reporte de servicios</a></li>
            {% if user.rol == 0 %}
             <li class="nav-item"> <a class="nav-link" style="color: #6c757d;" href="{% url 'reporte_grupos_admin' %}">Ver reportes de grupos</a></li>
             <li class="nav-item"> <a class="nav-link" style="color: #6c757d;" href="{% url 'reporte_servicios_admin' %}">Ver reportes de servicios</a></li>

            {% endif %}
          </ul>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#estadisticas" aria-expanded="false" aria-controls="general-pages">
          <span>Estadisticas</span>
          <i class="menu-arrow"></i>
          <i class="mdimdi-stack-overflow menu-icon"></i>
        </a>
        <div class="collapse" id="estadisticas">
          <ul class="nav flex-column sub-menu">

             <li class="nav-item"> <a class="nav-link" style="color: #6c757d;"  href="{% url 'estadistica_inversion' %}">Estadistica por inversión</a></li>
             <li class="nav-item"> <a class="nav-link" style="color: #6c757d;" href="{% url 'estadistica_beneficiarios' %}">Estadisticas beneficiarios</a></li>
             <li class="nav-item"> <a class="nav-link" style="color: #6c757d;" href="{% url 'estadistica_grupos' %}" >Estadisticas por grupos</a></li>

          </ul>
        </div>
    </li>
    </ul>
  </nav>

{%endblock%}