{% block content %} 
{% load staticfiles %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <span class="menu-title">Inicio</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      {% if user.rol == 0 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_list' %}">
          <span class="menu-title">Usuarios</span>
          <i class="mdi mdi-account-multiple menu-icon"></i>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Grupos Sociales</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-account-multiple-plus menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'grupo_add' %}">Aperturar Grupo</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'grupo_list' %}">Ver grupos</a></li>
          </ul> 
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
          <span class="menu-title">Servicios</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-account-multiple-outline menu-icon"></i>
        </a>
        <div class="collapse" id="general-pages">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'curso_list' %}">Listado de servicios</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'servicio_crear' %}"> Crear grupo </a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
{%endblock%}