{% block content %} 
{% load staticfiles %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <span class="menu-title">Inicio</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      {% if user.rol == 0 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_list' %}">
          <span class="menu-title">Usuarios</span>
          <i class="mdi mdi mdi-account-convert menu-icon"></i>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'personas_list' %}">
          <span class="menu-title">Control de Integrantes</span>
          <i class="mdi mdi mdi-account-search menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'alfabetizacion_list' %}">
          <span class="menu-title">Alfabetizacion</span>
          <i class="mdi mdi-book-open-page-variant menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'grupo_list' %}">
          <span class="menu-title">Grupos Sociales</span>
          <i class="mdi mdi mdi-account-multiple-outline menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'servicio_list' %}">
          <span class="menu-title">Servicios</span>
          <i class="mdi mdi mdi-library-books menu-icon"></i>
        </a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#reportes" aria-expanded="false" aria-controls="general-pages">
          <span class="menu-title">Reportes</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi mdi-stack-overflow menu-icon"></i>
        </a>
        <div class="collapse" id="reportes">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'reporte_grupo' %}">Reporte de servicio</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'reporte_servicio' %}">Reporte de grupos</a></li>              
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  
{%endblock%}