
<form method="post" action="">
    {% csrf_token %}
  
    <div class="modal-header">
      <h3 class="modal-title">Eliminar Usuario</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <p>Estas seguro que deseas eliminar el usuario
        <strong>{{usuario.first_name}} {{usuario.last_name}}, {{usuario}} </strong>?</p>
    </div>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
  
  </form>