{% include 'base.html' %}
{% block gruposlist  %}
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h1 >Personas Registradas</h1>
            <p>Listado de todas las personas registradas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <span class="d-flex align-items-center purchase-popup">
            <h4 class="card-title">Listado de personas</h4>
              <a class="btn btn-gradient-success btn-rounded ml-auto" href="{% url 'generar_excel' %}"  > <i class="mdi mdi-file-excel-box" style="color: white;"></i> Exportar exel</a>
          </span>
          <div class="table-responsive">
            <table class="table">
            <thead>
              <tr>
                <th>No.</th>
                <th>CUI</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo Electronico</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for persona in asignadas %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ persona.cui }}</td>
                <td>{{ persona.primer_nombre }} {{persona.segundo_nombre}} {{ persona.primer_apellido }} {{ persona.segundo_apellido }} </td>

                {% if persona.telefono == ""  %}
                <td><label class="badge badge-danger btn-rounded">Sin registro</label></td>
                {% else %}
                <td>{{persona.telefono}}</td>
                {% endif %}

                {% if persona.correo_electronico == ""  %}
                <td><label class="badge badge-danger btn-rounded">Sin registro</label></td>
                {% else %}
                <td>{{persona.correo_electronico}}</td>
                {% endif %}
                <td>
                    <button type="button" id="asignacion-update" class="bs-modal btn btn-sm btn-warning btn-rounded " data-form-url="{% url 'personas_update' persona.id  %}">
                      <span class="fa fa-trash">Editar</span>
                    </button>
                    <!-- Desactivamos la funcion de eliminar para no crear incosistencia en la db
                   <a type="button" class="btn btn-sm btn-danger btn-rounded" href="#" onclick="persona_delete({{persona.id}})">Eliminar</a>
                   -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <!--Pagination-->
    {% if is_paginated %}
      <nav aria-label="Page navigation conatiner"></nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; SIGUIENTE </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> REGRESAR &raquo;</a></li>

        {% endif %}
      </ul>
      </nav>
      {% endif %}
    <!--Pagination-->
      </div>
 </div>
</div>

<script type="text/javascript">
  $(function () {
    // Update, Read and Delete book buttons open modal with id="modal" (default)
    // The formURL is retrieved from the data of the element
    $(".bs-modal").each(function () {
      $(this).modalForm({
        formURL: $(this).data('form-url')
      });
    });
  });
</script>

<script>
  function persona_delete(id){
      console.log(id)
    Swal.fire({
      title: 'Esta seguro de eliminar esta comunidad?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: 'Eliminar'
    })
    .then((result) => {
      if (result.isConfirmed) {
        window.location.href ="/personas-delete/"+id;
        Swal.fire(
          'Se ha eliminado el integrante correctamente!',
        )
      }
    })
  }
</script>
{% endblock gruposlist %}