{% include 'base.html' %}
{% block gruposlist  %}
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
    </div>
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h1>Alfabetización</h1>
            <p>Listado de comunidades</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
              <span class="d-flex align-items-center purchase-popup">
                <h4 class="card-title">Listado de comunidades</h4>
                  <a class="btn btn-gradient-info btn-rounded ml-auto"  data-toggle="modal" data-target="#modalagregar">Crear comunidad</a>
              </span>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Nombre Comunidad</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for comu in comunidades %}

                <tr>
                  <td>{{ forloop.counter }}</td>
                    <td>{{ comu.comunidad }}</td>
                    <td>
                      <a type="button" class="btn btn-sm btn-info btn-rounded " href="{% url 'alfabetizacion_fases' id=comu.id %}">Listado de Fases</a>
                      <button type="button" id="user-delete" class="bs-modal btn btn-sm btn-warning btn-rounded" data-form-url="{% url 'alfabetizacion_edit' comu.id %}"><span class="fa fa-trash">Editar</span></button>
                      <button type="button" id="user-delete" class="bs-modal btn btn-sm btn-danger btn-rounded" >Eliminar</button>
                    </td>
                </tr>
                {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modalagregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Nueva Comunidad</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button></div>
            <div class="modal-body">
              <form method="POST" action="{% url 'alfabetizacion_create' %}" class="pt-3">
                {% csrf_token %}
                <h4 class="card-title"><u>Información de Comunidad</u></h4>
                  <div class="row">
                      <div class="col-md-10">
                        <label for="">Nombre de comunidad</label>
                        {{formComunidad.comunidad}}
                      </div>
                    </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
              </form>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    // Update, Read and Delete book buttons open modal with id="modal" (default)
    // The formURL is retrieved from the data of the element
    $(".bs-modal").each(function () {
      $(this).modalForm({
        formURL: $(this).data('form-url')
      });
    });
  });
</script>

{% endblock gruposlist %}