{% include 'base.html' %}
{% block gruposlist  %}
{% load staticfiles %}
{% include 'navbar.html' %}
<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
    </div>
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h4 class="font-weight-normal mb-3">Comunidad: </h4>
            <h1>{{comunidad.comunidad}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
              <span class="d-flex align-items-center purchase-popup">
                <h4 class="card-title">Listado de fases</h4>
                <div class="btn-group ml-auto ">
                  <button type="button" class="btn btn-gradient-info btn-rounded dropdown-toggle " data-toggle="dropdown" aria-expanded="false">Opciones</button>
                  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
                    <a class="dropdown-item" data-toggle="modal" data-target="#modalagregar">Agregar Fase</a>
                    <a class="dropdown-item"href="{% url 'alfabetizacion_fases_excel' id=comunidad.id %}" >Generar Exel</a>
                  </div>
                </div>
            </span>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                    <th>Alfabetizador(a)</th>
                    <th>Ciclo</th>
                    <th>No. Integrantes</th>
                    <th>Fase</th>
                    <th>Listado de integrantes</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for fase in fases %}
                <tr>
                    <td>{{ fase.nombre_alfabetizadora }}</td>
                    <td>{{ fase.ciclo }}</td>
                    <td>{{ fase.integrantes.count }}</td>
                    <td>{{ fase.get_fase_display }}</td>
                    <td><a type="button" class="btn btn-sm btn-info btn-rounded btn-fw" href="/alfabetizacion/fases/{{fase.id}}/integrantes">Integrantes</a></td>
                    <td>
                        <button type="button" id="user-delete" class="bs-modal btn btn-sm btn-warning btn-rounded" data-form-url="{% url 'fases_edit' pk=fase.id %}">
                          <span class="fa fa-trash">Editar</span>
                        </button>
                        <a class="bs-modal btn btn-sm btn-info btn-rounded" onclick="mostrarFinalizacion({{fase.id}})">Finalizar</a>
                        <button type="button" id="user-delete" class="bs-modal btn btn-sm btn-danger btn-rounded" data-form-url="{% url 'fases_delete' pk=fase.id %}">
                          <span class="fa fa-trash">Eliminar</span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <br><br>
            <div class="table-responsive">
              <h4 class="card-title">Listado de fases finalizadas</h4>
              <table class="table">
                <thead>
                <tr>
                    <th>Alfabetizador(a)</th>
                    <th>Ciclo</th>
                    <th>No. Integrantes</th>
                    <th>Fase</th>
                    <th>Listado de integrantes</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for fase in finalizadas %}
                <tr>
                    <td>{{ fase.nombre_alfabetizadora }}</td>
                    <td>{{ fase.ciclo }}</td>
                    <td>{{ fase.integrantes.count }}</td>
                    <td>{{ fase.get_fase_display }}</td>
                    <td><a type="button" class="btn btn-sm btn-info btn-rounded btn-fw" href="/alfabetizacion/fases/{{fase.id}}/integrantes">Integrantes</a></td>
                    <td>
                        <button type="button" id="user-delete" class="bs-modal btn btn-sm btn-warning btn-rounded" data-form-url="{% url 'fases_edit' pk=fase.id %}">
                          <span class="fa fa-trash">Editar</span>
                        </button>
                        <button type="button" id="user-delete" class="bs-modal btn btn-sm btn-danger btn-rounded" data-form-url="{% url 'fases_delete' pk=fase.id %}">
                          <span class="fa fa-trash">Eliminar</span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <br>
            <a type="button" class="btn btn-sm btn-info btn-rounded btn-fw" href="{% url 'alfabetizacion_list' %}">Regresar</a>
        </div>
    </div>
    <div class="modal fade" id="modalagregar" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm-12" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'fases_crear' comunidad.id %}" class="pt-3">
              {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                      <h4 class="modal-title" id="exampleModalLabel">Comunidad Seleccionada: {{comunidad.comunidad}}</h4>
                      <br>
                      <label for="">Nombre de Alfabetizador</label>
                      {{formFase.nombre_alfabetizadora}}
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label for="">Ciclo de Fase</label>
                    {{formFase.ciclo}}
                  </div>
                  <div class="col-md-6">
                    <label for="">Fase</label>
                    {{formFase.fase}}
                  </div>
              </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-info btn-rounded">Agregar</button>
                  <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script type="text/javascript">
  function mostrarFinalizacion(id){
    Swal.fire({
      title: "Finalización de fase",
      text: "Ingrese el número de aprobados:",
      input: 'number',
      confirmButtonText: "Finalizar",
      cancelButtonText: "Cancelar",
      showCancelButton: true        
    }).then((result) => {
      if (result.value) {
        window.location.href ="/alfabetizacion/fases/finalizar/"+id+"/"+result.value;
      }
    });
  }
  $(function () {
    $(".bs-modal").each(function () {
      $(this).modalForm({
        formURL: $(this).data('form-url')
      });
    });
  });
</script>

{% endblock gruposlist %}