{% include 'base.html' %}
{% block grupoadd  %} 
{% load staticfiles %}
{% include 'navbar.html' %}

<div class="container-fluid page-body-wrapper">
  {% include 'sidebar.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
    </div>
    <div class="row">
      <div class="col-md-12 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img src="{% static 'images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image">
            <h4>FASE: {{ fase.get_fase_display }}</h4>
            <h1>Comunidad: {{ fase.comunidad }} </h1>
            <p>Alfabetizadora: {{ fase.nombre_alfabetizadora }} -  Ciclo: {{ fase.ciclo }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal / Ventana / Overlay en HTML -->
    <div class="modal fade" id="modalagregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm-12" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'fase_integrantes' fase.id %}" class="pt-3">
              {% csrf_token %}
              <h3 class="modal-title" id="exampleModalLabel">Nuevo Integrante</h3>
              <h4 class="card-title">Información del nuevo integrante</h4>
                <div class="row">
                    <div class="col-md-12">
                      <label for="">CUI</label>
                      {{formPersona.cui}}
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label>Primer Nombre</label>
                    {{formPersona.primer_nombre}}
                  </div>
                  <div class="col-md-6">
                    <label>Segundo Nombre</label>
                    {{formPersona.segundo_nombre}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Tercer Nombre</label>
                    {{formPersona.tercer_nombre}}
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                      <label>Primer Apellido</label>
                      {{formPersona.primer_apellido}}
                    </div>
                    <div class="col-md-6">
                      <label>Segundo Apellido</label>
                      {{formPersona.segundo_apellido}}
                    </div>
                    <br>
                    <div class="col-md-12">
                      <label>Apellido Casada</label>
                      {{formPersona.apellido_casada}}
                    </div>
                  </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                      <label for="">Fecha Nacimiento</label>
                      {{formPersona.fecha_nacimiento}}
                    </div>

                    <div class="col-md-6">
                      <label for="">Correo Electrónico</label>
                      {{formPersona.correo_electronico}}
                    </div>
                    <div class="col-md-6">
                      <label for="">Sexo</label>
                      {{formPersona.sexo}}
                    </div>
                    <div class="col-md-6">
                      <label for="">Dirección</label>
                      {{formPersona.direccion}}
                    </div>
                </div>
                <div class="row">
                </div>
                <br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-info btn-rounded">Agregar</button>
                </div>
              </form>
          </div>
        </div>
    </div>

    <!-- Modal / Ventana / Overlay en HTML -->
    <div class="modal fade" id="modalexistente" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm-12" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form method="post" action="{% url 'fase_existente' fase.id %}" class="pt-3">
                {% csrf_token %}
                <h3 class="modal-title" id="exampleModalLabel">Integrantes existentes</h3>
                <h4 class="card-title">Información de personas existentes</h4>
                  <div class="col-md-12">
                      <label>Seleccione una persona</label>
                      
                      <select class="form-control buscar" name="persona" id="buscar" style="width: 100%;">
                          <option value="0">Seleccione</option>
                        {% for persona in personas %}
                          <option value="{{persona.id}}">{{persona.cui}}-{{persona.primer_nombre}} {{persona.segundo_apellido}} </option>
                        {% endfor %}
                      </select>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-info btn-rounded">Agregar</button>
                  </div>
                </form>
            </div>
          </div>
      </div>
  

    <div class="col-lg-12  col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            
            <div class="col-12">
              <span class="d-flex align-items-center purchase-popup">
                  <h4 class="card-title">Agregar Integrantes</h4>
                  <div class="btn-group ml-auto ">
                    <button type="button" class="btn btn-gradient-info btn-rounded dropdown-toggle " data-toggle="dropdown" aria-expanded="false">Opciones</button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
                      <a class="dropdown-item" data-toggle="modal" data-target="#modalagregar">Agregar nuevo</a>
                      <a class="dropdown-item" data-toggle="modal" data-target="#modalexistente">Agregar existente</a>
                      <a class="dropdown-item" href="{% url 'fase_integrantes_excel' id=fase.id %}">Generar Exel</a>
                    </div>
                  </div>
              </span>
            </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>CUI</th>
                  <th>Nombre</th>
                  <th>Sexo</th>
                  <th>Telefono</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                  {% for integrante in integrantes %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ integrante.cui }}</td>
                  <td>{{ integrante.primer_nombre }} {{ integrante.segundo_nombre }} {{ integrante.primer_apellido }}  </td>
                  <td>{{ integrante.get_sexo_display }}</td>
                  
                  {% if integrante.telefono == "" %}
                  <td><label class="badge badge-info btn-rounded">Sin registro</label></td>
                  {% else %}
                  <td>{{ integrante.telefono}}</td>
                  {% endif %}

                    
                  <td>
                    <button type="button" id="asignacion-update" class="bs-modal btn btn-sm btn-warning btn-rounded " data-form-url="{% url 'personas_update' integrante.id %}">
                      <span class="fa fa-trash">Editar</span>
                    </button>
                    <a type="button" class="btn btn-sm btn-danger btn-rounded" href="#" onclick="eliminar_asignacion({{integrante.id}}, {{fase.id}})">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
            <br>
            <a type="button" class="btn btn-sm btn-info btn-rounded btn-fw" href="javascript: history.go(-1)">Regresar</a>
          </div>
        </div>
    </div>
  </div>
</div>
</div>

{% block js %}
<script>
  function eliminar_asignacion(id, grupo){
    Swal.fire({
      title: 'Desea eliminar el integrante de esta fase?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: 'Eliminar'
    })
    .then((result) => {
      if (result.isConfirmed) {
        window.location.href ="/alfabetizacion/fases/"+id+"/"+grupo+"/delete"
        Swal.fire(
          'Se ha eliminado el integrante correctamente!',
        )
      }
    })
  }
</script>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#buscar").select2();
});
  $(function () {
    // Update, Read and Delete book buttons open modal with id="modal" (default)
    // The formURL is retrieved from the data of the element
    $(".bs-modal").each(function () {
      $(this).modalForm({
        formURL: $(this).data('form-url')
      });
    });
  });

</script>
  
{% endblock %}
{% endblock grupoadd %}